<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGab="10px" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" >
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Your email" >
        <mat-hint>Please enter a valid email.</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Your Password" required>
        <mat-hint>Please enter your password.</mat-hint>
        <mat-error>Field must not be empty!</mat-error>
      </mat-form-field>
      <button *ngIf="!(isLoading$ | async)" type="submit" mat-raised-button color="primary" [disabled]="!loginFormGroup.valid">Submit</button>
      <mat-spinner *ngIf="isLoading$  | async"></mat-spinner> 
  </form>
</section>
